span.OurServices_heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #14457b;
}

.banner_content h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #14457B;
}
.service_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1004px;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 50px;
}
.heading_head {
    padding-top: 50px;
}

.service_card, .service_card_1, .service_card_2, .service_card_3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #14457B;

}
.service_card_1 p, .service_card_2 p, .service_card_3 p{
    Font: 'Inter', sans-serif;
    font-weight : 400;
    Font-Size:16px;
    Line-Height:24px;
    Letter-Spacing: 1%;
    text-align: Center;
    color: #2e2e2e;
}
.service_card_1, .service_card_2, .service_card_3{
    padding: 0 20px;
    width: 300px;   
}

/* caontact us sec on home page */
div.contact_bg {
    width: 1140px;
    margin: auto;
    height: 437px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.left_div {
    width: 50%;
}

.right_div {    
    width: 50%; 
}

.left_div h1 {
    padding: 10px 30px;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;
}

a.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.btn_contact.css-sghohy-MuiButtonBase-root-MuiButton-root {
    text-align: left;
    background: white;
    color: black;
    font-size: 16px;
    font-family: 'Be vaitnam Pro', sans-serif;
    text-transform: capitalize;
}



/* Why us on home page */
.content_main_whyus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    margin: auto;
    padding: 90px 0px;
}

.whyus_content h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 31px;
    font-weight: 600;
    color: #14457B;
    text-align: left;
}
.banner_content h1, p{
    text-align: left;
}
img.whyus_image {
    width: 100%;
}
.whyus_image_right {
    width: 76%;
}



/* Testing  supports  css */
span.testingsupport_heading {

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 31px;
    font-weight: 400;
    color: #14457B;
    margin-bottom: 10px;
    text-align: center;
}

.vertical-timeline-element-content p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.vertical-timeline-element-title {
    font-weight: 500;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}
.timeline-separator {
    width: 6px;
    height: 86%;
    background-color: gainsboro; /* Adjust the color as needed */
    position: absolute;
    left: 50%; /* Adjust the position of the separator */
    top: 0;
    bottom: 0;
    border-radius: 93px;
    transform: translateX(-50%);
  }
  .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
   z-index: 1;
}
.vertical-timeline-element {
    margin: 3px 0 !important;
}



/* get in touch css */

.container_getin {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}
  
  .equal-width-div {
    flex: 1; /* Each div will take an equal width */
    padding: 10px; /* Add padding or any other styles as needed */
  }

  img.image_getin {
    width: 100%;
}
h3.heading_getin {
    font-size: 31px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: left;
    color: #14457B;
}

form {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}   
    input {
        width: 80%;
        height: 47px;
        padding: 7px;
        outline: none;
        border-radius: 30px;
        border: 1px solid rgb(220, 220, 220);
    }
    textarea {
        width: 80%;
        padding: 7px;
        outline: none;
        border-radius: 30px;
        border: 1px solid rgb(220, 220, 220);
        padding: 4px 30px;
    }  

    input[type="text"] {
        padding: 4px 30px;
    }
    input[type="email"] {
        padding: 4px 30px;
    }


    input.btn_getin {
        background: #345f8c;
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }